
*{
  margin: 0;
  box-sizing: content-box;
}

.material-icons{
  padding: 0px;
  position: absolute;
  left: -10px;
}

.container{
  margin-top: 12px;
  position: relative;
}
.container1{
  margin-top: 0;
  position: relative;
}
.more{
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  left: 15px;
  
}

.body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-columns: 1.2fr 2.8fr 2fr;
  grid-template-rows: 75px auto;
  grid-gap: 7px;
  width: 80%;
  margin: 0 auto;
}



.header{
  grid-column: 1/3;
}
.header p{
  margin-top: 5px;
  font-size: 32px;
  float: left;
}
  .header .search-container{
    float: right;
    width: 75%;
    margin-top: 15px;
  }

  .header .search-container button{
    float: left;
    padding: 6px 10px;
    font-size: 17px;
    background: rgb(236, 233, 233);
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 7%;
  }

  .header .search-container  input[type="text"]{
    padding: 6px;
    background: rgb(236, 233, 233);
    border: none;
    font-size: 17px;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 87%;
  }

  .header .search-container  input[type="text"]:focus{
    outline: none;
  }




    /*SIDE-BAR*/  


    .side-bar{
      grid-column: 1/2;
    }
  
      .side-bar ul{
        font-size: 14px;
        margin: 20px 0 10px 5px;;
        padding: 0;
      }
  
      .side-bar ul li{
        margin: 10px;
        list-style-type: square;
        padding-bottom: 5px;
      }
  
      .my-bowws{
        margin-top: 130px;
        margin-bottom: 0;
      }
      .my-bowws h4{
        margin-bottom: 20px;
      }
  
      .container-bowws{
        display: flex;
      }
  
      .block-img{
        width: 50px;
        height: 50px;
        border-radius: 7px;
        margin-bottom: 15px;
        margin-right: 10px;
      }
      .side-bar .text-bowws h4{
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 17px;
      }
      .text-bowws p{
          font-size: 11px;
          color: grey;
      }
      .side-bar .favs{
        margin-bottom: 50px; 
      }
  
      .orange{
        background-color: orangered;
      }
      .blue{
        background: rgb(0, 0, 46);
      }


      /*FEED*/    


  .feed{
    grid-column: 2/3;
  }
  .feed h4{
    margin-bottom: 10px; 
  }

  .feed-items{
    display: grid;
    grid-template: auto auto / repeat(2, 1fr);
    grid-gap: 20px;
    font-size: 12px;
  }
    
    .feed-items .item1{
      padding: 20px ;
      background-color: rgb(0, 0, 46);
      color: white;
      border-radius: 10px;
    }
    .feed-items .item2{
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      border: 3px solid black;
    }
    .feed-items .item3{
      grid-column: 1/-1;
      background-color: rgb(156, 223, 243);
      padding:  20px;
      border-radius: 10px;
    }
    .feed-info{
      width: 100%;
      font-size: 11px;
      display: flex;
      justify-content: space-between;
    }

    .read-more1{
      display: block;
      text-decoration: none;
      margin-top: 10px;
      font-size: 13px;
      color: white;
    }
    .read-more2{
      display: block;
      text-decoration: none;
      margin-top: 10px;
      font-size: 13px;
      color: black;
    }
    
    #item-1{
      background-color: white;
    }
    #item-2{
      background-color: orangered;
    }
    #item-3{
      background-color: rgb(0, 0, 46);
      color: white;
    }
    
    .feed-items h3{
      margin-top: 5px;
      margin-bottom: 56px;
      font-size: 16px;

    }
    .feed-items .item3 h3{
      margin-bottom: 18px;
    }
    .feed-items button{
      margin-top: 10px;
      background-color: white;
      padding: 4px 9px 4px 9px;
      border-radius: 7px;
      border: none;
      float: right;
    }

/*PROFILE*/

    
.profile{
  grid-column: 3/4;
  grid-row: 1/-1;
}
  .profile-details{
    height: auto;
  }
  .profile-details p{
    font-size: 12px;
  }
  .post-items{
    display: grid;
    grid-template: repeat(2, 151px)/repeat(2, 1fr);
    grid-gap: 10px;
    width: 80%;
    margin: 0 auto;
  }
  .plus{
    margin-top: 70px;
    float: right;
    font-size: 24px;
  }
  .post-items div{
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
    font-weight: 500;
  }

  .post-items .item1{
    background-color:  rgb(236, 233, 233);
    border: none
  }
  .post-items .item4{
    background-color: orangered;
    border: none;
  }

  .profile-img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: orangered;
    margin: 6px auto;;
  }

  .profile .profile-details .username{
    text-align: center;
    font-weight: 700;
    font-size: 13px;
  }

  .details .e{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  .profile .profile-details .details{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .profile-details .options{
    display:flex;
    width: 80%;
    margin: 15px auto;
    justify-content: space-between;
  }
  .profile .profile-details .profile-description{
    background-color:  rgb(156, 223, 243);
    padding: 15px;
    font-size: 13px;
    margin: 15px 20px;
    border-radius: 10px;
  }
  .profile .profile-details .career{
    text-align: center;
    font-weight: 200;
    opacity: 0.7;
  }
  .profile .profile-details .edit{
    text-align: center;
    font-weight: 100;
    opacity: 0.5;
  }
  
/*SIDE-BAR*/  


.side-bar{
  grid-column: 1/2;
}

  .side-bar ul{
    font-size: 14px;
    margin: 20px 0 10px 5px;;
    padding: 0;
  }

  .side-bar ul li{
    margin: 10px;
    list-style-type: square;
    padding-bottom: 5px;
  }

  .my-bowws{
    margin-top: 130px;
    margin-bottom: 0;
  }
  .my-bowws h4{
    margin-bottom: 20px;
  }

  .container-bowws{
    display: flex;
  }

  .block-img{
    width: 50px;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 15px;
    margin-right: 10px;
  }
  .side-bar .text-bowws h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
  }
  .text-bowws p{
      font-size: 11px;
      color: grey;
  }
  .side-bar .favs{
    margin-bottom: 50px; 
  }

  .orange{
    background-color: orangered;
  }
  .blue{
    background: rgb(0, 0, 46);
  }

    

  

    

  
